
.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.home-li {
  margin-bottom: 10px;
}

.home-button {
  width: 200px; 
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}
